main{
    height: 633px;
    width: 583px;
    background-color: #89AC76;
    position: relative;
    top: 5vh;
    left: 30vw;
}

body{
    background-color: #ECDBF1;
    font-family: 'Exo 2', sans-serif;
}

h3{
    color: #6c885d;
    display: flex;
    justify-content: center;
    
}

.vibor{
   background: #89AC76;
   padding-left: 150px;
   padding-right: 150px;
   padding-top: 15px;
   padding-bottom: 10px;
   font-size: 30px;
   border-radius: 25px;
   border-color: #FFEEEE;
   color: #FFEEEE;
   margin-top: 20px;
}

.zagol{
    font-size: 35px;
}

.arrow-2 {
    cursor: pointer;
    height: 0.5px;
    width: 0.5px;
    position: relative;
    margin: 0px;
}

.arrow-2-top, 
.arrow-2-bottom {
    background: #FFEEEE;
    height: 6px;
    position: absolute;
    top: 78px;
    width: 25px;
    margin-top: -35px;
    margin-left: 10px;
}
.arrow-2-top {
    top: 64px;
}
.arrow-2-top {
    transform: rotate(-140deg);
    transform-origin: bottom right;
}
.arrow-2-bottom {
    transform: rotate(140deg);
    transform-origin: top right;
}
.arrow-2-top::after, 
.arrow-2-bottom::after {
    background: #000;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}
.arrow-2-top::after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}
.arrow-2-bottom::after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}
.arrow-2:hover .arrow-2-top::after {
    left: 0;
    transition-delay: 0.15s;
}
.arrow-2:hover .arrow-2-bottom::after {
    right: 0;
    transition-delay: 0s;
}

p{
    color: #FFEEEE;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 30px;
    margin-top: -6px;
}

.rov1{
    margin-top: 40px;
    padding-left: 180px;
    padding-right: 180px;
}

.rov2{
    padding-left: 150px;
    padding-right: 150px;
}

.rov3{
    padding-left: 180px;
    padding-right: 180px;
}

.rov4{
    padding-left: 100px;
    padding-right: 100px;
}

.text{
    font-size: 23px;
    margin-left: 50px;
    margin-right: 50px;
}

a{
    text-decoration: none !important;
}

li{
    color: #FFEEEE;
    font-size: 20px;
    margin-left: 45px;
    margin-right: 50px;
}

.osob{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -30px;
}

.clas{
    margin-top: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #FFEEEE;
    color: #000;
}

.osob1{
    font-size: 20px;
    margin-left: 80px;
    margin-right: 50px;
}

.rov5{
    padding-left: 150px;
    padding-right: 150px;
}

.rov6{
    padding-left: 160px;
    padding-right: 160px;
}

.rov7{
    padding-left: 170px;
    padding-right: 170px;
}
